<html xmlns:th="https://wwww.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	
</head>

<!-- Common Header Fragment -->
<header th:fragment="header" class="justify-content-center d-flex flex-wrap py-3 mb-4 border-bottom">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
	    <span class="fs-4">Saints App</span>
 	</a>

	<ul class="nav nav-pills">
	    <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
		<li class="nav-item"><a th:href="@{/saints}" class="nav-link">Saints</a></li>
	    <li class="nav-item"><a href="#" class="nav-link disabled">About</a></li>
	</ul>
</header>





<!-- Common Footer Fragment -->
<footer th:fragment="footer" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
	<div class="col mb-3">
		<a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
		 	
		</a>
		<p class="text-body-secondary">© 2024</p>
	</div>

	<div class="col mb-3">
		
	</div>
	
	<div class="col mb-3">
	  	<h5>Section</h5>
	  	<ul class="nav flex-column">
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
		    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
		    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
		    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
		  </ul>
	</div>
	
	<div class="col mb-3">
		<h5>Section</h5>
		<ul class="nav flex-column">
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
	 	</ul>
	</div>
	
	<div class="col mb-3">
	 	<h5>Section</h5>
		<ul class="nav flex-column">
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
	    	<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
	 	</ul>
	</div>

</footer>

</html>